  /*********************/
 /** Global Settings **/
/*********************/

/* Fallback Settings */
* {
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
  transition: all 0.2s ease;
}
/**/

/* Root Variables */
:root {
  --fg:                     hsla(240, 10%, 18%, 0.66);
  --highlight:              hsl(240, 10%, 18%);
  
  --text:                   hsl(240, 10%, 95%);

  --load-low:               hsl(139, 54%, 53%);
  --load-medium:            hsl(41, 100%, 77%);
  --load-high:              hsl(348, 85%, 61%);
  --load-extreme:           hsl(325, 100%, 25%);

  --load-light-gray:        hsla(223, 28%, 92%, 0.95);
  --load-gray:              hsla(229, 23%, 80%, 0.85);
  --load-dark-gray:         hsla(225, 17%, 66%, 0.7);
  --load-very-dark-gray:    hsla(200, 17%, 50%, 0.25);
}
/**/

/* Load Levels */
.load.low                   { color: var(--load-low); }
.load.medium                { color: var(--load-medium); }
.load.high                  { color: var(--load-high); }
.load.extreme               { color: var(--load-extreme); }

.gray.load.low              { color: var(--load-light-gray); }
.gray.load.medium           { color: var(--load-gray); }
.gray.load.high             { color: var(--load-dark-gray); }
.gray.load.extreme          { color: var(--load-very-dark-gray); }
/**/

/* Icons - https://icons8.com/icons */
.i {
  /* Hex to Filter - https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(98%) sepia(97%) saturate(2878%) hue-rotate(177deg) brightness(107%) contrast(104%);
  transform: translateY(0.1em);
}

img {
  pointer-events: none;
}
/**/

/* Buttons */
button{
  background: transparent;
  border: none !important;
  cursor: pointer;
}
/**/

/* Hover Details - Hidden Details */
.open.hover-details {
  color : var(--load-gray);
  visibility: visible;
  opacity: 1;
  margin-left: 0.25em;
  max-width: 25em;
  gap: 0.5em;
}
  
.hover-details {
  display: inline-flex;
  visibility: hidden;
  opacity: 0;
  max-width: 0;
}
/**/

/* Wrap Text */
.overflow {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}
/**/

  /***************/
 /** Main Body **/ 
/***************/

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--text);
  font-family: "JetBrains Mono", monospace;
  font-size: 0.75em;
  overflow: hidden;
}

.app {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 0 1%;
}
  
.fg {
  display: inline-flex;
  align-items: center;
  background: var(--fg);
  margin: 0.25em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5em;
  gap: 0.25em;
}

.fg:hover {
  background: var(--highlight);
  margin: 0.5em;
  border-radius: 1em;
}

/* Structure */
.left, .right, .center {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
  position: relative;
}
/**/

  /**********/
 /** Left **/
/**********/
  
/* Lock */
.ovr.fg {
  padding: 0.15em;
  margin-right: 0.75em;
  border-radius: 1em;
}

.ovr.fg:hover {
  margin: 0 1em 0 0.25em;
  transform: scale(1.1);
}
  
.lock {
  border-radius: 5em;
  padding: 0.55em;
  transition: background 0.3s ease;
}

.lock.paused {
  background: var(--load-high);
}

.lock.active {
  background: var(--load-low);
}
/**/

/* Tiling Direction */
.til.fg {
  padding: 0.15em;
}
  
.ovr.i{
  transform: translateY(0.15em);
}

.rot{
  transform: rotate(-90deg);
}
/**/
  
/* Workspace Symbols */
.focused {
  font-size: 1.2em;
  color: var(--text);
  transform: translateY(0.025em);
}  

.unfocused {
  font-size: 1.1em;
  color: var(--load-dark-gray);
  transform: translateY(0.05em);
}
/**/

  /************/
 /** Center **/ 
/************/
  
/* Media Session */
.media.overflow{
  transform: translateY(0.1em);
}

.rot.i {
  transform: rotate(180deg) translateY(-0.1em);
}

.media.i {
  margin: 0.25em -0.25em 0.1em -0.25em;
}

  /***********/
 /** Right **/
/***********/
  
/* System Tray */
.open.sys {
  opacity: 1;
  visibility: visible;
  max-width: 25em;
  margin-right: 0.5em;
}
  
.sys {
  display: inline-flex;
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  gap: 0.5em;
}

.sys button {
  padding: 0;
  margin: 0;
}

.open.i{
  transform: rotate(-180deg) translateY(-0.15em);
}

.i-sys {
  margin: 0.25em;
  transform: translateY(0.1em);
}
/**/

/* Network */
.label {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.open.label.hover-details {
  margin-right: 0.5em;
  gap: 0.5em;
}

.net-down {
  color: var(--load-low);
}

.net-up {
  color: var(--load-high);
}
/**/
  
/* Disk */
.disk.load{
  margin: 0 0.5em 0 0.33em;
}
/**/